.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    outline: none;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ModalContent{
    padding-left: 50px;
    margin-top: -20px;
}

#ExpenseModalCloseButton{
    width: 20px;
    position: absolute;
    right: 40px;
    top: 40px;
}

.modalcategory {
    font-size: 24px;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 40px;
}

.modalcategory.food {
    color: #ff6347;
    /* Tomato */
}

.modalcategory.utilities {
    color: #4682b4;
    /* Steel Blue */
}

.modalcategory.entertainment {
    color: #c03c52;
}

.modalcategory.unknown {
    color: #808080;
    /* Gray */
}

.ExpenseDetails{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
    line-height: 2px;
}

#expenseamt{
    padding-top: 10px;
}

#expesnsedesc{
    margin-top: 0px;
}

#time{
    margin-top: 40px;
    opacity: 0.5;
    font-size: 12px;
}

#modalPlant{
    width: 220px;
    height: auto;
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.deleteBtn{
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    background-color: #4682b4;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    cursor: pointer;
}


#deleteExpenseBtn:hover{
    background-color: #276faa;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}