.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    width: 600px;
    height: 300px;
    padding: 30px ;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.GoalModalContent{
    padding-left: 30px;
    margin-top: -5px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#GoalDetailHeading {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
    opacity: 0.8;
    margin: 0;
}

#editbtn {
    font-family: 'Poppins';
    font-size: 12px;
    margin-top: 12px;
    margin-right: 200px; 
    cursor: pointer;
    color: #23539b;
    background-color: white;
    border: none;
}

.GoalDetails{
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    opacity: 0.6;
}

#GoalModalButton{
    width: 20px;
    position: absolute;
    right: 40px;
    top: 40px;
}

#GoalModalButton:hover{
    opacity: 0.9;
    cursor: pointer;
}

#GoalModalProgress{
    width: 200px;
    height: 200px;
    align-self: flex-end;
    margin-top: 30px;
}

#deleteGoalBtn{
    width: 80px;
}

.GoalEditForm{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
}

.GoalEditForm label{
    opacity: 0.6;
}

.editInputField{
    width: 200px;
    border: none;
    border-inline: none;
    margin-top: 14px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    /* border-bottom: solid 1px rgb(60, 60, 60); */
}
#editSavebtn{
    font-family: 'Poppins';
    font-size: 12px; 
    cursor: pointer;
    color: #002357;
    /* background-color: rgb(237, 226, 124); */
    border: solid 1px rgb(128, 128, 128);
    border-radius: 3px;
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: -25px;
    font-weight: 600;
}

#goaldeleteBtn{
    margin-left: -90px;
}